<h1>회원가입</h1>
<form action="/question/sign_up_process">
    
    <input type="text" name="email">
    <input type="text" name="user_name">
    <input type="text" name="password">
    <input type="submit" value="회원가입">
    
</form>